<!doctype html>
<html lang="fr">

<head>
    <link rel="shortcut icon"
          href="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/6/64/Favicon.ico/revision/latest?cb=20141231001855&amp;path-prefix=fr">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="../stylesheets/connexion_page.css" media="all"/>

    <meta charset="utf-8">
    <title>PLUS ULTRA</title>
</head>

<body>
<div id="connexion_page">
    <navbar></navbar>
    <div class="row">
        <form class="col s4 offset-s4">
            <div class="row">
                <div class="input-field">
                    <label for="identifiant">Identifiant</label>
                    <input placeholder="admin" id="identifiant" type="text" class="validate" v-model="id">
                </div>
            </div>
            <div class="row">
                <div class="input-field">
                    <label for="password">Mot de passe</label>
                    <input placeholder="password" id="password" type="password" class="validate" v-model="passwd">
                </div>
            </div>

            <button class="btn waves-effect waves-light right"
                    type="button"
                    name="action"
                    @click="connexion">
                Envoyer <i class="material-icons right">send</i></button>

        </form>
    </div>

    <footer-bar></footer-bar>
</div>
</body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://unpkg.com/vue/dist/vue.js"></script>

<script src="../theme/components/footer.js"></script>
<script src="../theme/components/navbar.js"></script>
<script src="../theme/components/characters.js"></script>

<script>
    new Vue({
        el: "#connexion_page"
    })
</script>
<!--
<script src="../javascript/core/script_vue.js"></script>
<script src="../javascript/index.js"></script>
-->