<!doctype html>
<html lang="fr">
<head>
  <link rel="shortcut icon"
  href="https://vignette.wikia.nocookie.net/bokunoheroacademia/images/6/64/Favicon.ico/revision/latest?cb=20141231001855&amp;path-prefix=fr">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="../css/detail_perso.css" media="all"/>

  <meta charset="utf-8">
  <title>PLUS ULTRA</title>
</head>

<body>
  <div id="app">
    <navbar></navbar>
    <div class="row">
      <div v-for="perso in persos">
        <div v-if="(perso.pseudo.split(' ').join('').toLowerCase())==(pseudo_perso)">
          <div class="col s10">
            <ul class="collection">
              <li class="collection-item">
                <div>
                  <h3>{{perso.name}}</h3>
                  <div class="button_update">
                    <a href="/liste"><button type="button" class="btn waves-effect waves-light blue darken-4">Retour<i class="material-icons right">backspace</i> </button></a>
                    <button v-on:click="redirection_update(perso.pseudo)" class="btn waves-effect waves-light blue darken-4"><i class="material-icons right">update</i>Modifier</button>
                  </div>
                </div>
              </li>
              <li class="collection-item">{{perso.info}}</li>
            </ul>

            <ul class="collection">
              <li class="collection-item"><h5>Apparence</h5>
              </li>
              <li class="collection-item">{{perso.apparence}}</li>
            </ul>

            <ul class="collection">
              <li class="collection-item"><h5>Personnalité</h5>
              </li>
              <li class="collection-item">{{perso.personnalite}}</li>
            </ul>

            <ul class="collection">
              <li class="collection-item"><h5>Biographie </h5>
              </li>
              <li class="collection-item">{{perso.biographie}}</li>
            </ul>

            <ul class="collection">
              <li class="collection-item"><h5>Aptitudes et Compétences</h5>
              </li>
              <li class="collection-item">{{perso.aptitudes}}</li>
            </ul>
          </div>

          <div class="col s2">
            <ul class="collection">
              <li class="collection-item"><h5 class="center-align">{{perso.pseudo}}</h5>
              </li>
              <img class="center-img" :src="perso.image">
              <li class="collection-item"><span class="badge">{{perso.anniversaire}}</span>Anniversaire</li>
              <li class="collection-item"><span class="badge">{{perso.age}}</span>Âge</li>
              <li class="collection-item"><span class="badge">{{perso.genre}}</span>Genre</li>
              <li class="collection-item"><span class="badge">{{perso.taille}}</span>Taille</li>
              <li class="collection-item"><span class="badge">{{perso.occupation}}</span>Occupation</li>
              <li class="collection-item"><span class="badge">{{perso.affiliation}}</span>Affiliation</li>
              <li class="collection-item"><span class="badge">{{perso.alter}}</span>Alter</li>

            </ul>
          </div>
        </div>
      </div>
    </div>
    <footer-bar></footer-bar>
  </div>
</body>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="../assets/components/footer.js"></script>
<script src="../assets/components/navbar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17-beta.0/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script src="../js/index.js"></script>
</html>
