html{
  height:100%;
}

body {
  height: 100%;
  margin:0;
  padding:0;
}
footer{
  position: absolute;
  width: 100%;
}

.card {
    margin-left: 10px!important;
    position: relative;
    background-color: #FFFFFF;
    height: 370px;
    width: 240px;
}

.card-image {
    position: absolute;
    margin: auto;
    height: 220px;
    min-width: 100%;
}

.row{
  margin-top: 10px;
  margin-left: 210px!important;
}
